<form class="example-container" [formGroup]="options">

  <mat-dialog-content>

    <mat-form-field [color]="options.value.color">
      <input matInput type="text" placeholder="Post Title" formControlName="title" min="10">
      <mat-error *ngIf="options.get('fontSize')?.invalid">Min size: 10px</mat-error>
    </mat-form-field>

    <div class="form-row" fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="25px">
      <mat-form-field>
        <mat-select placeholder="Category" formControlName="categories" multiple>
          <mat-option *ngFor="let category of data.categories" [value]="category">{{ category }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Tag" formControlName="tags" multiple>
          <mat-option *ngFor="let tag of data.tags" [value]="tag">{{ tag }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <quill-editor  formControlName="content" [options]="editorOptions"></quill-editor>

    <input type="hidden" formControlName="author" [value]="'an author'">
    <input type="hidden" formControlName="dateAdded" [value]="postDate">

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="column" fxLayoutAlign="space-between end">
    <spinner-button [options]="btnOpts" (click)="addNewPost(options.value)"></spinner-button>
  </mat-dialog-actions>

</form>